[server]
hosts = 0.0.0.0:{{RADICALE_PORT}}
max_connections = 20
max_content_length = 100000000

[encoding]
request = utf-8
stock = utf-8

[auth]
type = ldap
ldap_uri = ldap://{{LLDAP_HOST}}:{{LLDAP_LDAP_PORT}}
ldap_base = ou=people,{{LLDAP_BASE_DN}}
ldap_reader_dn = uid=admin,ou=people,{{LLDAP_BASE_DN}}
ldap_secret = {{LLDAP_ADMIN_PASSWORD}}
ldap_filter = (&(objectClass=person)(uid={0}))
ldap_user_attribute = uid

[storage]
type = multifilesystem
filesystem_folder = /data/collections

[rights]
type = owner_only

[web]
type = internal

[logging]
level = info
