name: Build Base Image

on:
  workflow_dispatch:
  workflow_call:
  push:
    paths:
      - 'Dockerfile.base'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}/base

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Prod Base
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.base
          target: prod
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:prod
          labels: ${{ steps.meta.outputs.labels }}

      - name: Build and push Dev Base
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.base
          target: dev
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:dev,${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          labels: ${{ steps.meta.outputs.labels }}
